.Container-message {
    background-color: rgba(0, 128, 0, 0.61);
    width: 350px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 150px;
    position: absolute;
    width: 100%;
}

.Container-message p {
    color: white;
    letter-spacing: 1px;
    font-size: 3rem;
}

.message-error {
    background-color: red;
    height: 35px;
    display: flex;
    padding: 5px 10px 5px 10px;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: white;
    letter-spacing: 1px;
    border-radius: 1rem;
    font-size: 1.2rem;
}

#msjAnimation{
	color: #fff;
	animation: tiendaNew 2.72s ease infinite;
	transform-origin: 50% 50%;
	-webkit-transition: 0.5s ease-out;
	-moz-transition: 0.5s ease-out;
	-o-transition: 0.5s ease-out;
	transition: 0.5s ease-out;
	text-align: center;
	margin-bottom: 15px;
	clear: both;
	display: block;
	width: 100%;
	-webkit-border-radius: 6px;
	-moz-border-radis: 6px;
	border-radius: 6px;
}
@keyframes tiendaNew{
	0% { transform:translate(0,0) }
	4.41177% { transform:translate(5px,0) }
	8.82353% { transform:translate(0,0) }
	13.23529% { transform:translate(5px,0) }
	17.64706% { transform:translate(0,0) }
	22.05882% { transform:translate(5px,0) }
	26.47059% { transform:translate(0,0) }
	100% { transform:translate(0,0) }
}
#msjAnimation:hover{
	background:#5ed80d77;
	color: #fff;
}