header{
    min-height: 5vh;
}
.Detail-container{
    min-height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.card_image img{
    width: 350px;
    height: 350px;
    object-fit: cover;
}

footer{
    min-height: 15vh;
}