.EditPage-container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    min-height: 80vh;
    align-items: center;
    color: #DCD7C9;
    /* background-repeat: no-repeat;
    background-size: cover; */
}