.Form-editCity {
    display: flex;
    flex-direction: column;
    gap: 1em;
    justify-content: center;
    padding: 3em;
    background-color: #a27b5cb7;
    border-radius: 1rem;
    color: #2C3639;
    align-items: center;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;

}

.Form-editCity p{
    padding: 0;
    margin: 0;
    text-align: center;
}

.Form-editCity button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100px;
    border-radius: .5rem;
    border: none;
    padding: .5rem;
    font-weight: bold;
    font-size: 1rem;
    background-color: #DCD7C9;
    color: #2C3639;
    cursor: pointer;
}

.Form-editCity button:hover{
    transform: scale(1.1);
    background-color: #2C3639;
    color: white;
}

.container-inputs {
    display: flex;
    flex-direction: column;
    gap: 1em;
    width: 320px;
}

.container-inputs label{
    display: flex;
    flex-direction: column;
}

.container-inputs input {
    border-radius: .5rem;
    border: none;
    padding: 0.2rem;
}

select{
    border-radius: 1rem;
    padding: .3rem;
}

#input-description {
    height: 20px;
}

#hide-id{
    display: none !important;
}
