.Inputs-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background: #dcd7c9c5;
    color: #2c3639;
    padding: 2em;
    border-radius: 1rem;
    width: 350px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}


.Inputs-box {
    padding: 1em;
    display: flex;
    gap: 1em;
    width: 300px;
}

.Input-Label {
    width: 200px;
    text-transform: uppercase;
}

.Input-value {
    border-radius: .5rem;
    border: none;
    width: 100%;
    padding: .2rem;
}

.btn-form {
    width: 150px;
    align-self: center;
    border: none;
    padding: .5rem;
    margin-top: 1rem;
    border-radius: .5rem;
    font-weight: bold;
    color: white;
    background-color: #2c3639;
}

.btn-form:hover{
    background-color: #A27B5C;
    transform: scale(1.1);
    color: white;
}

@media (max-width:500px){
    .Inputs-container{
        width: 250px;
    }
    .Inputs-box {
        width: 250px;
    }
}
@media (max-width:360px){
    .Inputs-container{
        width: 200px;
    }
    .Inputs-box {
        width: 200px;
    }
}