.NewCity-container{
    display: flex;
    justify-content: center;
    align-items: center;
    background: url('../../public/images/pexels-fauxels-3183132.jpg');
    background-size: cover;
    background-position: center center center centers;
    flex-direction: column;
    background-repeat: no-repeat;
    min-height: 80vh;
    gap: 2em;
}

.newcity-title {
    background-color: #dcd7c9c5 ;
    padding: 8px 0 8px 0;
    width: 100%;
}

.NewCity-container h2 {
    color: #2c3639;
    margin: 0;
    font-size: 3rem;
}